<p id="notice"><%= notice %></p>

<h1>Holiday List</h1>

<table class="table table-striped table-bordered">
  <thead class="thead-dark">
    <tr>
      <th>Holiday name</th>
      <th>Date</th>
      <th>Country</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @holidays.each do |holiday| %>
      <tr>
        <td><%= holiday.holiday_name %></td>
        <td><%= holiday.date %></td>
        <td><%= holiday.country %></td>
        <td><%= link_to 'Show', holiday %></td>
        <td><%= link_to 'Edit', edit_holiday_path(holiday) %></td>
        <td><%= link_to 'Destroy', holiday, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Holiday', new_holiday_path,class:"btn btn-secondary" %>
