<h1>Holiday list of TR</h1>
<br><br/>
<%= (@holidays_output["holidays"][1]["date"]) %>
<br><br/>
<%= (@holidays_output["holidays"][2]["country"]) %>
<br><br/>
<%= (@holidays_output["holidays"][3]["name"]) %>
<br><br/>
<%= (@holidays_output["holidays"][4]["name"]) %>
<br><br/>
<%= (@holidays_output["holidays"][5]["name"]) %>
<br><br/>
<%= (@holidays_output["holidays"][6]["name"]) %>
<br><br/>
<%= (@holidays_output["holidays"][7]["name"]) %>
<br><br/>s
<%= (@holidays_output["holidays"][8]["name"]) %>
<br><br/>
<%= (@holidays_output["holidays"][9]["name"]) %>
<br><br/>
<%= (@holidays_output["holidays"][10]["name"]) %>
<br><br/>
<%= (@holidays_output["holidays"].size) %>
<br><br/>
